body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
}

/* Add CSS for <h1> tags within top-wrapper */
.top-wrapper h1{
  opacity : 0.7;
  font-size : 45px;
  letter-spacing : 5px;
  margin-bottom : 10px; 
}

.top-wrapper p{
  opacity : 0.7;
  margin-bottom : 3px;
}

/* Add CSS for <p> tags within top-wrapper */


