body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
 padding : 100px 80px;
  /* Change the top & bottom padding to 100px, and left & right padding to 80px */
}

/* Change the font-size of <h1> tags within copy-container */
.copy-container h1{
  font-size : 140px;
}

/* Change the font-size of <h2> tags within copy-container */
.copy-container h2{
  font-size : 60px;
}

/* Change the color of <span> tags within copy-container */
.copy-container span{
  color : #ff4a4a;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
