ul {
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: center;
}
li {
  color: white;
  height: 80px;
  line-height: 80px;
}
.li1 {
  background-color: #ffc562;
}
.li2 {
  background-color: #a0c3f7;
}
.li3 {
  background-color: #ff8db3;
}
.li4 {
  background-color: #88e7ce;
}

.flex-list {
  display: flex;
}
.flex-list li {
  flex: auto;
}

/* Layout for Tablet Devices */
@media (max-width: 1000px) {
  .flex-list {
    flex-wrap: wrap;
  }
  .flex-list li {
    width: 50%;
  }
}

/* Layout for Smartphone Devices */
/* Set the breakpoint to 670px and under for the media query */
@media (max-width : 670px) {
  /* Set the flex-direction of .flex-list */
 .flex-list {
   flex-direction : column;
 } 
  
  /* Set the margin of the .flex-list li to 0 auto */
.flex-list li {
  margin : 0 auto;
}  
  
}
