body {
  font-family: "Avenir Next";
}

/* Use the list-style property to remove dots from <li> tags */
li{
  list-style : none;
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}